# --- IDENTIDAD DEL HARDWARE ---
CONFIG_TARGET_gemini=y
CONFIG_TARGET_gemini_generic=y
CONFIG_TARGET_gemini_generic_DEVICE_seowon_swc9000=y

# --- ESPECIFICACIONES DE CPU (Tu requisito original) ---
CONFIG_ARCH="arm"
CONFIG_CPU_TYPE="arm926ej-s"
CONFIG_SOFT_FLOAT=y

# --- TOOLCHAIN (FILOSOFÍA MUSL TOTAL) ---
CONFIG_LIBC="musl"
CONFIG_PACKAGE_libmusl=y
CONFIG_TOOLCHAIN_LIBC_MUSL=y
CONFIG_ARM_TOOLCHAIN_USES_MUSL=y

# --- SISTEMA Y MEMORIA ---
CONFIG_TARGET_ROOTFS_INITRAMFS=y
CONFIG_INITRAMFS_COMPRESSION_LZMA=y
CONFIG_PACKAGE_zram-swap=y
CONFIG_PACKAGE_kmod-zram=y
CONFIG_PACKAGE_busybox=y
CONFIG_PACKAGE_base-files=y

# --- DRIVERS DE HARDWARE (Tus requisitos específicos) ---
CONFIG_PACKAGE_kmod-usb-musb-hdrc=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_kmod-rt2800-usb=y
# Servidor de Punto de Acceso y Gestión de Red
CONFIG_PACKAGE_wpad-basic-wolfssl=y
CONFIG_PACKAGE_hostapd-common=y
CONFIG_PACKAGE_kmod-bridge=y
CONFIG_PACKAGE_dnsmasq=y
# por mi
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-serial-option=y
CONFIG_PACKAGE_kmod-fs-jffs2=y
CONFIG_PACKAGE_kmod-uart-16550=y
CONFIG_PACKAGE_usb-modeswitch=y
CONFIG_PACKAGE_usbutils=y
# Herramientas de gestión y diagnóstico
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_iwinfo=y

# --- OPTIMIZACIÓN DE TAMAÑO ---
CONFIG_STRIP_KERNEL_EXPORTS=y
CONFIG_USE_SSTRIP=y
CONFIG_SERIAL_8250_CONSOLE=y
# --- SEGURIDAD DE COMPILACIÓN ---
# CONFIG_CONF_CHECK_SKIP_ERROR is not set

# --- EXCLUSIONES CRÍTICAS (Ahorro de espacio) ---
# CONFIG_IPV6 is not set
# CONFIG_PACKAGE_luci is not set
# CONFIG_KERNEL_DEBUG_INFO is not set
# CONFIG_KERNEL_KALLSYMS is not set
# CONFIG_PACKAGE_python3 is not set
# CONFIG_PACKAGE_python3-base is not set
